snippet rnd:builder "Declare builder methods on model" b
/**
 * @method Builder find
 * @method Builder findOrFail
 * @method Builder where
 * @method Builder whereDate
 * @method Builder whereHas
 */
endsnippet
