extends html, javascript, css, scss 

snippet slot
	<slot></slot>

snippet template
	<template></template>

snippet transition 
	<transition></transition>

snippet rnbase
	<template>
		<div class="" id="">

		</div>
	</template>

	<script>
		export default{
      name: ''

		}
	</script>
