extends html, javascript, css, scss 

snippet slot
  <slot></slot>
endsnippet

snippet template
  <template></template>
endsnippet

snippet transition 
  <transition></transition>
endsnippet

snippet rnbase
<template>
	<div class="" id="${$0}">

  </div>
</template>

<script>
export default{
  name: '${$0}'

  }
</script>
endsnippet
